@import 'node_modules/bootstrap/scss/bootstrap';

@import "fonts";
@import "variables";

@import "home";

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    color: $color-black;
    background: $color-white;
    font-family: $font-family-montserrat;
}

#footer {
    margin-top: 7em;
    h4 {
        font-size: 15px;
    }
}